header
    background: url('../img/bg.jpg') #49a3d6
    background-repeat: no-repeat
    background-position: center
    max-height: 600px
    .menu
        margin: 40px 0
        text-align: right
        a
            margin: 0px 20px
            color: #fff
            text-decoration: none
            display: inline-block
            border-bottom: 2px solid transparent
            padding-bottom: 9px
            font-size: 1em
            &:hover
                border-bottom: 2px solid #fff
    .contenedor-texto
        margin: 190px 0
        display: flex
        justify-content: center
        align-items: center
        .texto
            border: 2px solid #fff
            padding: 25px 40px
            border-radius: 20px
            text-align: center
            display: inline-block
            h1,h2
                color: #fff
                font-weight: 300
                margin: 0
            .nombre
                margin-bottom: 30px
                line-height: 25px
                font-size: 40px
            .profesion
                line-height: 25px
                font-size: 20px

        




