* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

header {
  background: url("https://picsum.photos/640/360?grayscale") #49a3d6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #5f5b5b;
  position: absolute;
}
header .menu {
  margin: 40px 0;
  text-align: right;
  position: relative;
}
header .menu a {
  margin: 0px 20px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
  padding-bottom: 9px;
  font-size: 1em;
}
header .menu a:hover {
  border-bottom: 2px solid #fff;
}
header .contenedor-texto {
  margin: 190px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .contenedor-texto .texto {
  border: 2px solid #fff;
  padding: 25px 40px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
}
header .contenedor-texto .texto h1, header .contenedor-texto .texto h2 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}
header .contenedor-texto .texto .nombre {
  margin-bottom: 30px;
  line-height: 25px;
  font-size: 40px;
}
header .contenedor-texto .texto .profesion {
  line-height: 25px;
  font-size: 20px;
}

main .contenedor {
  text-align: center;
  overflow: visible;
}
main .contenedor .texto {
  margin: 40px auto;
  width: 80%;
  line-height: 30px;
}
main .contenedor .texto h3 {
  font-size: 30px;
  color: #fffb28;
  font-weight: 500;
}
main .contenedor .texto span {
  font-style: italic;
  color: #09c0a1;
  text-decoration: underline;
}
main .trabajos {
  background: #e7e7e7;
  padding: 20px 0;
}
main .trabajos .contenedor .titulo {
  font-size: 30px;
  color: #fffb28;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 30px;
}
main .trabajos .contenedor .contenedor-trabajos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .trabajos .contenedor .contenedor-trabajos .trabajo {
  width: 23%;
}
main .trabajos .contenedor .contenedor-trabajos .trabajo .imagen {
  width: 100%;
  margin-bottom: 10px;
}
main .trabajos .contenedor .contenedor-trabajos .trabajo .imagen img {
  width: 100%;
  vertical-align: top;
  border-radius: 20px;
}
main .trabajos .contenedor .contenedor-trabajos .trabajo .descripcion {
  text-align: center;
}
main .trabajos .contenedor .contenedor-trabajos .trabajo .descripcion .nombre {
  color: #1684dd;
  font-size: 20px;
  font-weight: 300;
}
main .trabajos .contenedor .contenedor-trabajos .trabajo .descripcion .categoria {
  color: #6e7072;
  font-size: 10px;
  font-weight: 500;
}

footer .contacto {
  text-align: center;
  margin-bottom: 20px;
  height: 100vh;
}
footer .contacto .contenedor .titulo {
  font-size: 30px;
  color: #fffb28;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 30px;
}
footer .contacto .contenedor .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .contacto .contenedor .formulario input[type=text],
footer .contacto .contenedor .formulario input[type=email],
footer .contacto .contenedor .formulario textarea {
  border: 2px solid #cecece;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  color: #a4a4a4;
}
footer .contacto .contenedor .formulario input[type=text]:focus,
footer .contacto .contenedor .formulario input[type=email]:focus,
footer .contacto .contenedor .formulario textarea:focus {
  outline: none;
  border: 2px solid #fffb28;
}
footer .contacto .contenedor .formulario input[type=text],
footer .contacto .contenedor .formulario input[type=email] {
  width: 49%;
  margin-bottom: 15px;
}
footer .contacto .contenedor .formulario textarea {
  width: 100%;
  min-width: 100%;
  height: 200px;
  min-height: 200px;
  max-height: 300px;
  margin-bottom: 20px;
}
footer .contacto .contenedor .formulario .boton {
  margin: 20px auto;
  padding: 10px 25px;
  border: none;
  background: #fffb28;
  color: #fff;
  border-radius: 5px;
}
footer .contacto .contenedor .formulario .boton:hover {
  background: #008a0b;
}
footer .redes-sociales {
  background: #86888a;
  padding: 60px 0;
}
footer .redes-sociales .contenedor {
  display: flex;
  justify-content: center;
}
footer .redes-sociales .contenedor .twitter {
  background: #1da1f2;
}
footer .redes-sociales .contenedor .twitter:hover {
  opacity: 0.6;
}
footer .redes-sociales .contenedor .facebook {
  background: #1877f2;
}
footer .redes-sociales .contenedor .facebook:hover {
  opacity: 0.6;
}
footer .redes-sociales .contenedor .youtube {
  background: #ff0000;
}
footer .redes-sociales .contenedor .youtube:hover {
  opacity: 0.6;
}
footer .redes-sociales .contenedor .github {
  background: #333;
}
footer .redes-sociales .contenedor .github:hover {
  opacity: 0.6;
}
footer .redes-sociales .contenedor .instagram {
  background: #f56040;
}
footer .redes-sociales .contenedor .instagram:hover {
  opacity: 0.6;
}
footer .redes-sociales a {
  color: #fff;
  text-align: center;
  width: 100px;
  display: block;
  padding: 15px;
  border-radius: 5px;
  font-size: 30px;
  margin: 10px;
}

.divflotar {
  position: fixed;
  bottom: 50px;
  right: 30px;
}
.divflotar .flotar {
  display: flex;
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  border-radius: 100%;
  background: #25d366;
  justify-content: center;
  align-items: center;
}
.divflotar .flotar:hover {
  background: #1d8a45;
}
.divflotar .flotar .boton-whatsapp {
  color: #fff;
  font-size: 30px;
}
.divflotar .flotarS {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s linear, opacity 2s linear;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: #13d4d4;
  justify-content: center;
  align-items: center;
}
.divflotar .flotarS .btn-subir {
  color: #fff;
  font-size: 30px;
}

@media (max-width: 800px) {
  header .menu {
    text-align: center;
  }
  header .menu2 {
    text-align: center;
  }
  main .trabajos .contenedor .contenedor-trabajos .trabajo {
    width: 45%;
  }
}
@media (max-width: 500px) {
  header .contenedor-texto .texto .nombre {
    font-size: 25px;
  }
  header .contenedor-texto .texto .profesion {
    font-size: 18px;
  }
  main .trabajos .contenedor .contenedor-trabajos .trabajo {
    width: 90%;
  }
  footer .contacto .contenedor .formulario input[type=text],
  footer .contacto .contenedor .formulario input[type=email] {
    width: 100%;
  }
  footer .redes-sociales .contenedor {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=estilos.css.map */